<div class="box col-xs-10 col-xs-offset-1">
	<h1><%= @quote.inspect %></h1>
 <center>
	<%= image_tag 'welcome.gif', :class => 'img-responsive' %>
	</br>
<p>
<h2>Farrah Lee is currently in her 2nd year of college at Hofstra University on Long Island, New York. She is studying Computer Science and planning to get a Bachelors degree. In high school, she took four years of Computer Science in a program called Global IT Academy. She learned HTML, Flash, Visual Basic and Java. You can see some of her projects <a href = "http://gitastudents.com/~leef/">here</a>. In her free time, she likes to watch dramas or play with her dog Washington. Also she has played volleyball for 5 years.
</br>
</br>
One video game that Farrah has played all her life is MapleStory. If you like to learn more about MapleStory, click the About link on the top right corner of the page!</h3>
</p>
<p align="right">
<%= image_tag 'arrow.png', :class => 'img-responsive' %>
</p>
<p>
<%= image_tag 'BannedStory.gif', :class => 'img-responsive' %>
</p>
 </center>
</div>