<div class="box col-xs-10 col-xs-offset-1">
<center>
<h1>About MapleStory</h1>
</br>
<%= image_tag 'ms.png', :class => 'img-responsive' %>
<h2>MapleStory is an Massive Multiplayer Online Role Playing Game and published by Nexon. In the game, players assume the roles of citizens in the Maple World with no specific objective to win the game, but to work on improving their characters' skill and status over time (Wikipedia) There are many jobs players are able to choose in the game: Warrior, Magician, Bowman, Thief, and many more.
</br>
</br>
<%= image_tag 'jobs.png', :class => 'img-responsive' %>
</br>
 Each job has different kinds of skills that the players are able to use. When players first begin their journey in MapleStory, they must go through quests required for their jobs and start to level up, build up their skills, and work on their equipment. The max level for the players vary between the jobs. For example, the level for Explorers is 200 while the max level for Cygnus is 120. As players go through the game, there are many things to do: buying/selling items, socializing/making friends, party quests, individual quests, fighting monsters, and more! If you would like to learn more and play MapleStory, click <a href="http://maplestory.nexon.net/">here</a> to register and play! And click <a href= "https://en.wikipedia.org/wiki/MapleStory">here</a> for more information on MapleStory</h2>
</center>
</div>
