@font-face {
    font-family: 'dancing_script_otregular';
    src: url('/assets/dancingscript-regular-webfont.eot');
    src: url('/assets/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/dancingscript-regular-webfont.woff2') format('woff2'),
         url('/assets/dancingscript-regular-webfont.woff') format('woff'),
         url('/assets/dancingscript-regular-webfont.ttf') format('truetype'),
         url('/assets/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lovers_quarrelregular';
    src: url('/assets/loversquarrel-regular-webfont.eot');
    src: url('/assets/loversquarrel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/loversquarrel-regular-webfont.woff2') format('woff2'),
         url('/assets/loversquarrel-regular-webfont.woff') format('woff'),
         url('/assets/loversquarrel-regular-webfont.ttf') format('truetype'),
         url('/assets/loversquarrel-regular-webfont.svg#lovers_quarrelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'odstemplik';
    src: url('/assets/odstemplikbold-webfont.eot');
    src: url('/assets/odstemplikbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/odstemplikbold-webfont.woff2') format('woff2'),
         url('/assets/odstemplikbold-webfont.woff') format('woff'),
         url('/assets/odstemplikbold-webfont.ttf') format('truetype'),
         url('/assets/odstemplikbold-webfont.svg#odstemplik') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreyaregular';
    src: url('alegreya-regular-webfont.eot');
    src: url('alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('alegreya-regular-webfont.woff2') format('woff2'),
         url('alegreya-regular-webfont.woff') format('woff'),
         url('alegreya-regular-webfont.ttf') format('truetype'),
         url('alegreya-regular-webfont.svg#alegreyaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
